@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-top: 1.5rem;
}

.App {
  text-align: center;    
}

.App-header {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  display: flex;
  align-items: center;    
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.refresh-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 2.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  position: absolute;
  bottom: 1rem;
  right: 1rem;

}

.refresh-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.slider-container {
  margin-top: 2rem;
}

.movie-card {
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  position: relative;
}

.movie-card:hover {
  transform: translateY(-4px);
}

.movie-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-details-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-details {
  background-color: #000;
  padding: 2rem;
  border-radius: 4px;
  max-width: 600px;
  text-align: center;
}

.movie-details h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 0.5rem;
}

.movie-details img {
  width: 250px;
  height: auto;
  margin: 1.5rem auto;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.movie-details p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.rating-container {
  margin-top: 1rem;
}

.star-container {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.star {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s ease;
}

.star.filled {
  color: #e50914;
}

.close-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.75rem 2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  margin-top: 1rem;
}

.close-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.mode-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 2.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}